.button {
    width: 100px;
    height: 50px
}

.mycontainer {
    margin-top: 25%;
    width: 700px;
    position: absolute;
    right: 47%;
}

.inputContainer {
    /* margin-top: 15%; */
    width: 50%;
    position: absolute;
    right: 20%;
    bottom: 55%;
    text-align: center;
}

.input {
    width: 85%;
    position: absolute;
    top: 20%;
    right: 58%;
}

.table {
    margin-top: 5%;
    width: 650px;
    position: absolute;
    right: 48%;
    height: auto;
}