/* html, body {
    height: 100%;

  } */

.selected-row {
    background-color:pink;
}
.pos-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
}
body{
    overflow: hidden;
    /* background: linear-gradient(to right, #136289, #017cff); */
    background: linear-gradient(to top, #000099 0%, #66ccff 100%);
    font-family:Arial, Helvetica, sans-serif;
}

/* Styles for left column (Item Display and Calculator) */
.left-column {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    height:100%;

}

/* Styles for right column (Fuel Pumps) */
.right-column {
    flex: 1;
    background-color: #ffffff;

    border: 1px solid #ccc;
    /* margin-bottom: 50%; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 50%;
    margin-left: 5px;
    min-height: 50%;

}
/* .right-column{
    margin-bottom: 50%;
} */

/* Styles for the item display container */
.item-display-container {
    /* flex-grow: 1; */
    overflow-y: auto;
    /* max-height: 200px; */
    margin-top: 0px;
    height: 200px;
    background-color: whitesmoke;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

/* Styles for the item display table */
.item-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table-container {
    margin-top: 5px;
}

.item-table th,
.item-table td {
    border:none;
    /* padding: 10px; */
    text-align: center;

}

.item-table th {
    background-color: lightslategray;
    color: #fff;

}
.item-table thead{
    position: sticky;
}

/* .item-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
} */

/* Style the quantity input field */
.item-table input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Styles for Calculator */
.calculator-display {
    width: 100%;
    height: 30px;
    font-size: larger;
    text-align: right;
    border: 1% solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #f9f9f9;
    outline: none;
    /* margin-top: 0;
    margin-bottom: 0px; */
    font-weight: bold;


}
.calculator{
    width: 100%;
    justify-content: center;
    justify-self: center;
    /* background-color: black; */
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.calculator-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calculator-buttons {
    /* background-color: black; */
  flex: 1;
  align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
    margin-top: 10px;
    /* background-color: black; */

}
.calculator-buttons-container{
    /* background-color: pink; */
    position: relative;
    /* top: 40%;
    right:50%;
    bottom: 0; */
}
.calcbutton {
    padding: 2px;

    background-color:lightslategray;
    color: white;
    border: 2px solid lightslategray;
    border-radius: 10px;
    cursor: pointer;
    /* margin-top: 0px; */
}

.calcbutton:hover {
    background-color: darkgray;
}

.clear-button,
.special-button {
    background-color: #ccc;
    color: #333;
    border: none;

    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
}

/* Styles for the container of pump items */
.pump-items-container {

    display: flex;
    flex-direction: row;
     align-items: start;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* overflow-y: auto; */
    max-height: 100%;
    padding: 0px;

}


/* Styles for Fuel Pumps Item */
.pump-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    max-width: 170px;
    width: 100px;
    height: 100px;

}

/* Styles for labels inside the pump-item */
.pump-item h3 {
    font-size: 18px;
}

.label-input-group {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.label-input-group label {
    flex: 0 0 auto;
    width: 80px;
    text-align: left;
    margin-right: 10px;
    font-size: 14px;
}

.label-input-group .input-container {
    flex: 1;
}

.label-input-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-group {
    margin-top: 10px;
    text-align: right;
    background-color: black;
    white-space: nowrap;
  }

.start-button{
    padding: 5px 10px;
    margin: 0 6px;
    font-size: 14px;
    border-radius: 3px;

}
.stop-button {
    padding: 5px 10px;
    margin: 0 6px;
    font-size: 14px;
    border-radius: 3px;
}
.settingDiv input{
  justify-self: center;
}

.pt-button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 10px;
}

.start-button:hover,
.stop-button:hover {
    background-color: #0056b3;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

/* Styles for the container of bottom buttons */
.pos-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Adjust the top margin as needed */
    padding: 10px 0;
    /* Adjust the padding as needed */
}

/* Style for the bottom buttons */
.pos-buttons button {
    /* padding: 10px 15px;
    font-size: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; */
}

/* Remove the margin-right from the last button */
.pos-buttons button:last-child {
    margin-right: 0;
}

/* Hover style for the buttons */
.pos-buttons button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Style for the top modal content */
.modal-content {
    width: 80%;
    height: 80%;
    overflow-y: auto;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Style the close button for the modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
button.calcbutton {
    width: 100%;
    height: 13vh;
    margin: 2px;
    font-size: larger;

  }

  button.special-button {
    width: 98%;
    height: 100%;
    margin: 2px;
    font-size: medium;
  }
  button.clear-button {
    width: 100%;
    height: 95%;
    margin: 2%;
  }
  .pos-but{
    width: 90%;
    height: 90%;
    margin: 0px;
    margin-top: 0px;
    color: #fff;
  }
  .pos-buttons{
    margin-top: 0px;
    width: auto;
  }
.pos-shape{
    /* display: inline-block; */

    background-color: #007bff;
    color: #fff;
    padding: 10px;
    height: auto;
    border-radius: 7px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
margin: 10px;
margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0%;
}
#mop-div{
   display: none;
   align-items: start;
   flex-direction: row;
   flex-wrap: wrap;
}
#price{
    font-size: 20px;
    height: 25px;
}
#volume{
    font-size: 20px;
    height: 25px;
}
#amount{
    font-size: 20px;
    height:25px;
}
#nonfuel-column{
display: none;
}
#manual-column{
    display: none;
    }
    #reports-column{
        display: none;
        }
        #config-column{
            display: none;
            }
            .config{
                display: flex;
                flex-direction: column;
            }
            .config p{
                font-size: 20px;
            }
.pump-number{
    display: inline-block;
    padding: 2px;
    border-radius:100%;
    background-color: gray;
    color:white;
    margin-right: 5px;
    height: 10%;
    width: 23%;
    text-align: center;
}
/* .mop-btn{ */
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    /* font-size: 15px;
    background-color:lightslategrey;
    color: white;
    padding:10px;
    margin: 5px;
    border-radius: 10px;
} */
.mop-column button{
    font-size: 15px;
    background-color:lightslategrey;
    color: white;
    padding:10px;
    margin: 5px;
    border-radius: 10px;
}
.img-icon{
    position: absolute;
    opacity:0.5;
    margin-left:15px;
}
.pump-thumb-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.pump-thumb-details{
    margin-top:30px;
     position:relative;
     font-size:12px;
     align-items:center;
     font-weight:bold;

}
.pump-thumb-details p{
    text-align: center;

}
.sub-total{
    position: relative;
    height: 20px;
    width:80px;
    margin-right: 5px;
    /* text-align:left; */

    border: none;


}
.sub-total-div{
    width:100%;
    /* position:relative; */
    margin-bottom:0;
    align-content: center;
    font-weight: bold;
    /* text-align:right; */
    /* background-color: #0056b3; */
    display: flex;
    justify-content: flex-end;
    padding-right:9px ;

}
.pos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left-column {
    flex: 1;
    transition: height 0.3s ease;
}

    /* flex:1}

@media(min-width:1024px) and (max-width:1336px){
    .pos-container {
        display: flex;
        flex-wrap: wrap;
    }
    .left-column {
        flex: 1;
    }
    .right-column {
        flex: 1;
    }
button.calcbutton{
    position: relative;
    top:100%;
    margin-top: 10%;
    width: 90%;
    height: 60px;
    left: 15%;
  }
  .item-display-container{
    height: 150px;
  }
  .calculator-display{
    position: relative;
    top:10px;
    font-weight: bold;
  }
  .calculator-buttons{
    position: relative;
    bottom:80px;
    right: 12px;

  }
  .button-group{
    position:relative ;

  }
  .button-group button{
    width: 30%;

  }
#price{
    height: 25px;
}
#volume{
    height: 25px;
}
#amount{
    height:25px;
}
body{
    overflow: hidden;
}
.right-column{
    height: 600px;
}
.left-column{
    height: 600px;
}
.sub-total-div{
    position: relative;
   top: 10px;
    left:415px ;
    font-weight: bold;
    margin: 0;
}

  }

@media(max-width:1024px){
    button.calcbutton{
   width: 70px;
   height: 60px;
 }
 .item-display-container{
   height: 100%;
 }
 .calculator{
    width: 100%;
 }
 .calculator-display{
   position: relative;
   bottom:-5px;
   width: 100%;

 }
 .calculator-buttons{
   position: relative;
   bottom:-10px;
   right: 12px;
 }
 .button-group{
   position:relative ;
 }
 .button-group button{
   width: 30%;

 }
#price{
   height: 25px;
}
#volume{
   height: 25px;
}
#amount{
   height:25px;
}
body{
   overflow: hidden;
}
.right-column{
   height: 550px;
}
.left-column{
   height: 550px;
}
 */


 /* The side navigation menu */
 .tabs{
    position: relative;
top: -1.8vh;
left: -1.8vh;
display: flex;
flex-direction: row;
overflow: hidden;
/* background-color: whitesmoke; */
/* border-bottom:1px solid lightslategray ; */
border-top-left-radius: 10px;
margin-top: 0px;


/* border-bottom: none; */
 }
 .tabs li{
    margin-right: 11px;
    /* border-bottom: none; */
 }
 /* .tabs ul{



 } */

 .is-toggled{
    /* background: linear-gradient(to right, #136289, #017cff); */
    background-color: lightslategray;
    color: white;
    padding-bottom: 0;
    margin-bottom: 0;
    /* border-radius:10px ; */
 }
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background: linear-gradient(to top, #000099 0%, #66ccff 100%);

    /* background-color: whitesmoke;  */

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: red;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* .pump-column{
    display: block;
  } */

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

 @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .mop-column{
    animation: fade-in 0.5s ease-in-out;
  }
#reports-column{
    animation: fade-in 0.5s ease-in-out;
}
  /* Define the slide-in animation sequence */
@keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slide-inb {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  /* Apply the animation to the div */
  .left-column{
    animation: slide-in 1s ease-in;
  }
.right-column{
    animation: slide-inb 1s ease-in;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @viewport {
    width: device-width;
    zoom: 1.0;
}
/* @media (min-width:300px){
    body{
        zoom:80%;

} */
/* html {
    touch-action: none;
    touch-zooming: none;
    user-zoom: fixed;
    -ms-content-zooming: none;
    -ms-touch-action: none;
} */
